//#region ALL
.common {
  margin-bottom: 0.75rem;
}
.label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 0.25rem;
}
//#endregion

.input {
  height: 1.75rem;
  width: 100%;
}

.number {
  width: 100%;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      display: flex;
      > h6 {
        margin-left: 0.25rem;
        > span {
          font-style: italic;
        }
      }
    }

    > input {
      border: thin dashed;
      margin: 0 0.25rem;
      border-radius: 0.5rem;
      text-align: center;
    }
    > div {
      display: flex;

      button {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        margin: 0 0.25rem;
      }
    }
  }
}

.ternary {
  button {
    height: 1.75rem;
    text-transform: uppercase;
    width: 100%;
    box-shadow: inset 0 0 1rem -0.7rem currentColor;
    outline: thin dotted transparent;
    &:focus {
      box-shadow: inset 0 0 1rem -0.7rem currentColor;
    }
    &:hover {
      outline: thin dotted;
    }
  }
  .ternary_true {
    color: green;
  }
  .ternary_false {
    color: red;
  }
}

.select {
  height: min-content;

  > div {
    display: flex;
    flex-wrap: wrap;
    button {
      margin: 0 0.2rem 0.1rem 0;
      height: min-content;
      padding: 0.1rem 0.25rem;
      border-radius: 0.5rem;
    }
  }
}

//#region ** DROPDOWN
.dropdown_wrapper {
  position: relative;
  cursor: pointer;
  header {
    border: thin solid;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5 {
      //down arrow
      transition: 0.1s ease;
    }
  }
}
.dropdown_ul {
  position: absolute;
  width: 100%;
  top: calc(100% + 1px);
  opacity: 0;

  height: 1px;
  overflow: hidden;
  pointer-events: none;

  transition: 0.2s ease;
}
.dropdown_ul_open {
  opacity: 1;
  pointer-events: all;
  height: min-content;
}
.dropdown_ul .option {
  padding: 0.15rem 1rem 0 1rem;
  height: 1.5rem;
  border: thin dotted;
  border-top: none;

  transition: 0.2s ease;

  &:hover {
    padding: 0.15rem 1rem 0 1.1rem;
    box-shadow: inset 0 0 1rem -0.3rem currentColor;
  }
}
.dropOpen {
  transform: rotate(180deg);
}
//#endregion
