.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  transition: 0.2s ease;
}

$height: 100%;

.childWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  transform: translate(0, 0);

  transition: 0.2s ease;
}
